@model PPSPS.Models.PPSPSClass
@{
    ViewData["Title"] = "Upravit třídu";
}

<h1>Upravit třídu</h1>

<h4>@Html.DisplayFor(model => model.ClassName)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ClassEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClassName" class="control-label"></label>
                <input asp-for="ClassName" maxlength="10" class="form-control" />
                <span asp-validation-for="ClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfEntry" class="control-label"></label>
                <input asp-for="YearOfEntry" maxlength="4" class="form-control" />
                <span asp-validation-for="YearOfEntry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="ClassTeacherId" class="form-control" asp-items="ViewBag.ClassTeacherId">
                    <option value="">Třídní učitel</option>
                </select>
                <span asp-validation-for="ClassTeacherId" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Uložit změny" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ClassesOverview">Zpět na přehled</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}