@model PPSPS.Models.PPSPSSubject
@{
    ViewData["Title"] = "Přidat předmět";
}

<h1>Přidat</h1>

<h4>Předmět</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SubjectCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubjectName" class="control-label"></label>
                <input asp-for="SubjectName" maxlength="45" class="form-control" />
                <span asp-validation-for="SubjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectAbbreviation" class="control-label"></label>
                <input asp-for="SubjectAbbreviation" maxlength="5" class="form-control" />
                <span asp-validation-for="SubjectAbbreviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Přidat" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SubjectsOverview">Zpět na přehled</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}