@model PPSPS.Models.PPSPSSubject

@{
    ViewData["Title"] = "Detail předmětu";
}

<h1>Detail předmětu</h1>

<div>
    <h4>@Html.DisplayFor(model => model.SubjectName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Celý název předmětu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectName)
        </dd>
        <dt class="col-sm-2">
            Zkratka předmětu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectAbbreviation)
        </dd>
    </dl>
    <hr />

</div>
<div>
    <a asp-action="SubjectsOverview">Zpět na přehled</a>
</div>