@model PPSPS.Models.PPSPSTask

@{
    ViewData["Title"] = "Upravit zadání";
}

<h1>Upravit zadání</h1>
<h4>@Html.DisplayFor(model => model.TaskName)</h4>
<hr />
<div class="container">
  <form asp-action="TaskEdit" class="needs-validation">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset class="form-group">
      <div class="form-group row">
        <label asp-for="TaskName" class="font-weight-bolder col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <input asp-for="TaskName" type="text" maxlength="100" class="form-control" required>
          <span asp-validation-for="TaskName" class="text-danger"></span>
        </div>
      </div>
      <div class="form-group row">
        <label asp-for="Description" class="font-weight-bolder col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <textarea asp-for="Description" maxlength="250" class="form-control" rows="3"></textarea>
          <span asp-validation-for="Description" class="text-danger"></span>
        </div>
      </div>
      <div class="row">
        <label asp-for="ClassId" class="font-weight-bolder col-sm-2 col-form-label">Organizace</label>
        <div class="col-auto my-1 form-inline">
          <select asp-for="ClassId" class="form-control" asp-items="ViewBag.ClassId">
            <option value="">Třída</option>
          </select>
          <span asp-validation-for="ClassId" class="text-danger" />

          <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupId">
            <option value="">Skupina</option>
          </select>
          <span asp-validation-for="GroupId" class="text-danger" />

          <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId">
            <option value="">Předmět</option>
          </select>
          <span asp-validation-for="SubjectId" class="text-danger" />

          <select asp-for="YearsOfStudiesId" class="form-control" asp-items="ViewBag.YearsOfStudiesId">
            <option value="">Ročník</option>
          </select>
          <span asp-validation-for="YearsOfStudiesId" class="text-danger" />
        </div>
      </div>
      <div class="row">
        <label class="font-weight-bolder col-sm-2 col-form-label">Odevzdat</label>
        <div class="col-auto my-1 form-inline">
          <label asp-for="DateEntered" class="col-sm-1 col-form-label"></label>
          <input asp-for="DateEntered" type="text" class="custom-select mr-sm-2" required>
          <span asp-validation-for="DateEntered" class="text-danger"></span>
          <label asp-for="DateDeadline" class="col-sm-1 col-form-label"></label>
          <input asp-for="DateDeadline" type="text" class="custom-select mr-sm-2" required>
          <span asp-validation-for="DateDeadline" class="text-danger"></span>
        </div>
      </div>
      <div class="row">
        <label asp-for="File" class="font-weight-bolder col-sm-2 col-form-label"></label>
        <div class="col-auto my-1 form-inline">
          <div class="input-group mb-3">
            <input asp-for="File" type="file" class="btn">
            <span asp-validation-for="File" class="text-danger"></span>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Uložit změny</button>
      </div>
    </div>
  </form>

  <div>
    <a asp-action="TasksOverview">Zpět na přehled</a>
  </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}