@{
    ViewData["Title"] = "Profil uživatele";
}
@model PPSPS.Areas.Identity.Data.PPSPSUser

<!-- Obsah stránky -->
<div class="container">
  <div class="row">
    <div class="col-2 col-sm-2">
      <p class="font-weight-bolder">Jméno:</p>
      <p class="font-weight-bolder">Příjmení:</p>
      <p class="font-weight-bolder">E-mail:</p>
      <p class="font-weight-bolder">Třída:</p>
    </div>
    <div class="col-5 col-sm-5">
      <p class="font-weight-normal">@Html.DisplayFor(model => model.FirstName)</p>
      <p class="font-weight-normal">@Html.DisplayFor(model => model.LastName)</p>
      <p class="font-weight-normal">@Html.DisplayFor(model => model.Email)</p>
      <p class="font-weight-normal">-</p>
    </div>
  </div>
  <hr>
  <div class="accordion" id="accordionExample">
  </div>
</div>
