@{
    ViewData["Title"] = "Student LSláma";
}
@model PPSPS.Areas.Identity.Data.PPSPSUser

<!-- Obsah stránky -->
<div class="container">
  <div class="row">
    <div class="col-2 col-sm-2">
      <p class="font-weight-bolder">Jméno:</p>
      <p class="font-weight-bolder">Příjmení:</p>
      <p class="font-weight-bolder">E-mail:</p>
      <p class="font-weight-bolder">Třída:</p>
    </div>
    <div class="col-5 col-sm-5">
      <p class="font-weight-normal">@Html.DisplayNameFor(model => model.FirstName)</p>
      <p class="font-weight-normal">Sláma</p>
      <p class="font-weight-normal">LSlama@sps-pi.cz</p>
      <p class="font-weight-normal">C3</p>
    </div>
  </div>
  <hr>
  <div class="accordion" id="accordionExample">
  </div>
</div>
