@model PPSPS.Areas.Identity.Data.PPSPSUser

@{
    ViewData["Title"] = "Úpravit profil";
}

<h1>Upravit profil uživatele</h1>
<h4>@Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName)</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="UserEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                @if (Model.EmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" />
                        <div class="input-group-append">
                            <span asp-validation-for="EmailConfirmed" class="input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" />
                        <div class="input-group-append">
                            <span asp-validation-for="EmailConfirmed" class="input-group-text text-danger font-weight-bold">X</span>
                        </div>
                    </div>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Zaslat ověřovací e-mail.</button>
                }
                <div class="form-group">
                    <label asp-for="ClassId" class="control-label">Třída</label>
                    <select asp-for="ClassId" class="form-control" asp-items="ViewBag.ClassId">
                        <option value="">Třída</option>
                    </select>
                    <span asp-validation-for="ClassId" class="text-danger" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Uložit" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UsersOverview">Zpět na přehled</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}