@model PPSPS.Models.PPSPSYearsOfStudies

@{
    ViewData["Title"] = "Detail ročníku";
}

<h1>Detail ročníku</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Years)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Years" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Years)
        </dd>
    </dl>
    <hr />

</div>
<div>
    <a asp-action="YearsOfStudiesOverview">Zpět na přehled</a>
</div>