# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.PPSPS.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\risak\Documents\Richard\Programming\C#\PPSPS\.idea\.idea.PPSPS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
