@{
    ViewData["Title"] = "Domovská stránka";
}

<div class="card text-center">
  <div class="card-header">
    Oznámení
  </div>
  <div class="card-body">
    <h5 class="card-title">Byl jste přihlášen</h5>
    <p class="card-text">Zdá se, že Vám nebyla přidělena oprávnění. Prosím kontaktujte administratora stránky, aby Vám potřebná oprávnění přidělil.</p>
  </div>
  <div class="card-footer text-muted">
    ©Kropáček Richard, 2021
  </div>
</div>