@{
    ViewData["Title"] = "Domovská stránka";
}

<div class="card text-center">
  <div class="card-header">
    Oznámení
  </div>
  <div class="card-body">
    <h5 class="card-title">Byl jste přihlášen</h5>
    <p class="card-text">Vítejte, zdá se, že nemáte přidělena žádná oprávnění, zkontaktujte tedy administratora systému, ať Vám je přidělí.</p>
  </div>
  <div class="card-footer text-muted">
    ©Kropáček Richard, 2021
  </div>
</div>