@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Konfigureace aplikace pro dvoufázové ověření";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div>
    <p>Chcete-li použít aplikaci pro dvoufázové ověření, proveďte následující kroky:</p>
    <ol class="list">
        <li>
            <p>
                Stáhněte si aplikaci pro dvoufaktorový autentizátor, jako je Microsoft Authenticator pro
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> a
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> nebo
                Google Authenticator pro
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> a
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Naskenujte QR kód nebo zadejte tento klíč <kbd>@Model.SharedKey</kbd> do vaší aplikace s dvoufaktorovým autentizátorem. Na mezerách nezáleží.</p>
            <div class="alert alert-info">Naučte se, jak <a href="https://go.microsoft.com/fwlink/?Linkid=852423">povolit generování QR kódu</a>.</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                Jakmile naskenujete QR kód nebo zadáte výše uvedený klíč, poskytne vám Vaše aplikace pro dvoufaktorové ověřování
                jedinečný kód. Tento kód zadejte do potvrzovacího pole níže.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">Ověřovací kód</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Ověřit</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
