@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Obnova autentizačního klíče";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Pokud resetujete klíč ověřovatele, aplikace ověřovatele nebude fungovat, dokud jej znovu nenakonfigurujete.</strong>
    </p>
    <p>
        Tento proces zakáže 2FA, dokud neověříte svou aplikaci pro dvoufázové přihlašování.
        Pokud nedokončíte konfiguraci aplikace pro dvoufázové přihlášení, můžete ztratit přístup ke svému účtu.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Resetovat autentizační klíč</button>
    </form>
</div>