@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potvrzený e-mail";
}

<h1>@ViewData["Title"]</h1>

Váš e-mail byl úspěšné potvrzen. Pro přístup do systému se prosím <a asp-page="/Identity/Account/Login.cshtml">přihlašte</a>.