@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registrace";
}

<h1>@ViewData["Title"]</h1>
<h4 id="external-login-title">Přidružte svůj @Model.ProviderDisplayName účet.</h4>
<hr />

<p id="external-login-description" class="text-info">
    Úspěšně jste se ověřili pomocí <strong>@Model.ProviderDisplayName</strong> účtu.
    Níže zadejte e-mailovou adresu tohoto webu a dokončete akci kliknutím na tlačítko Registrovat se
    pro přihlášení.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registrovat se</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
