@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Zapomenuté heslo";
}

<h1>@ViewData["Title"]</h1>
<p>
    Na Vámi uvedený e-mail byla zasála zpráva pro obnovu zapomenutého hesla, zkontrolujte proto prosím svou e-mailovou schránku.
</p>

