@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registrace úspěšná";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Pro dokončení procesu registrace je zapotřebí potvrdit svůj účet. Pokud je @Html.DisplayFor(model => model.Email) Váš e-mail, dokončení prosím registraci pomocí odkazu níže.
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Kliknutím sem potvrďte svůj účet.</a>
</p>
    }
    else
    {
<p>
    Zkontrolujte prosím svůj e-mail a potvrďte svůj účet.
</p>
    }
}
