@{
    ViewData["Title"] = "Přehled prací";
}

<h1>Přehled prací</h1>

<div>
    <h4>Zatím nemáte žádné zadané práce.</h4>
    <hr />
</div>
<div>
    <a asp-action="Index">Zpět na úvodní stránku</a>
</div>